<!--

Directive
- ng-disabled or data-ng-disabled(html5) :disable html dom

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP09/EX01/NG-DISABLED</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div data-ng-app="" data-ng-init="mySwitch=true">
        <p>
            <button data-ng-disabled="mySwitch">Click Me!</button>
        </p>
        <p>
            <input type="checkbox" data-ng-model="mySwitch" />Button
        </p>
        <p>
            {{ mySwitch }}
        </p>
    </div>
</body>
</html>