<!DOCTYPE html>
<!--

show data using table

-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>angularJS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="customerController">
        <table>
            <tr data-ng-repeat="x in names">
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
            </tr>
        </table>
    </div>
    <script src="../chp06/script/customerController.js"></script>
</body>
</html>