<!DOCTYPE html>
<!--

show data using table

with CSS

-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>angularJS</title>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            paddingL: 5px;
        }
        table tr:nth-child(odd){
            background-color: #f1f1f1;
        }
        table tr:nth-child(even){
            background-color: #ffffff;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="customerController">
        <table>
            <tr data-ng-repeat="x in names">
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
            </tr>
        </table>
    </div>
    <script src="../chp06/script/customerController.js"></script>
</body>
</html>