<!DOCTYPE html>
<!--

show data using table

with filter / with index

using data-ng-if[$odd, $even] for css

-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>angularJS</title>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            paddingL: 5px;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="customerController">
        <table>
            <tr data-ng-repeat="x in names | orderBy: 'Country'">
                <td data-ng-if="$odd" style="background-color:#f1f1f1">{{ $index }}</td><td data-ng-if="$even">{{ $index }}</td>
                <td  data-ng-if="$odd" style="background-color:#f1f1f1">{{ x.Name }}</td><td data-ng-if="$even">{{ x.Name }}</td>
                <td  data-ng-if="$odd" style="background-color:#f1f1f1">{{ x.Country | uppercase }}</td><td data-ng-if="$even">{{ x.Country | uppercase }}</td>
            </tr>
        </table>
    </div>
    <script src="../chp06/script/customerController.js"></script>
</body>
</html>