<!--

Modules

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP11/EX01/MODULES</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="myCtrl">
        {{ firstName + " " + lastName }}
    </div>
    <script src="script/myApp.js"></script>
    <script src="script/myCtrl.js"></script>
</body>
</html>