<!DOCTYPE html>
<!--
 Fetching Data from a PHP w3schools Server Running MySQL
-->
<html>
    <style>
        table, th, td
        {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd)
        {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even)
        {
            background-color: #ffffff;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js">
    </script>
    <body>
        <div data-ng-app="myApp" data-ng-controller="customerController">
            <table>
                <tr data-ng-repeat="x in names">
                    <td>{{ x.Name }}</td>
                    <td>{{ x.Country }}</td>
                </tr>
            </table>
        </div>
        <script>
            var app = angular.module( 'myApp', [] );
            app.controller('customerController', function( $scope, $http )
            {
                $http.get( "http://www.w3schools.com/angular/customers_mysql.php" )
                .success( function( response )
                {
                    $scope.names = response.records;
                });
            });
        </script>
    </body>
</html>