<!DOCTYPE html>
 
<!--
directives
- ng-app: ng-app 태그 안에서는 이중괄호( {{}} )를 이용해 angularjs expression 사용이 가능함
          HTML5에서는 앞에 "data-"를 붙여야 함. (data-ng-app)

Numbers
- 변수에 숫자 대입 가능

-->
<html>

<head>
    <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
    <!--<script src= "https://code.angularjs.org/1.5.8/angular.min.js"></script>-->
</head>

<body>
    <div data-ng-app="" data-ng-init="points=[1,3,5,7,9,11,13]">
        <p>The Second Points are {{points[2]}}</p>
        <p>The Third Points are <span data-ng-bind="points[3]"></span></p>
    </div>
</body>

</html>
