<!DOCTYPE html>
 
<!--

- data-ng-model: app 내의 parameter와 연결함

-->

<html>

<head>
    <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
    <!--<script src= "https://code.angularjs.org/1.5.8/angular.min.js"></script>-->
</head>

<body>
    <div data-ng-app="" data-ng-init="firstName=John">
        <p>Name: <input type="text" data-ng-model="firstName"></p>
        <p>You wrote: {{firstName}}</p>
    </div>
</body>

</html>
