<!DOCTYPE html>
 
<html>

<head>
    <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
    <!--<script src= "https://code.angularjs.org/1.5.8/angular.min.js"></script>-->
</head>

<body>
    <div data-ng-app="" data-ng-init="quantity=1;price=5">
        <h2>Cost Calculator</h2>

        Quantity: <input type="number" data-ng-model="quantity">
        Price: <input type="number" data-ng-model="price">

        <p><b>Total in dollar: </b> {{quantity * price}}</p>
    </div>
</body>

</html>
