<!DOCTYPE html>

<!--
 - data-ng-repeat: 반복
-->

<html>

<head>
    <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
    <!--<script src= "https://code.angularjs.org/1.5.8/angular.min.js"></script>-->
</head>

<body>
    <div data-ng-app="" data-ng-init="names=['jani','Hege','Kai']">
        <ul>
            <li data-ng-repeat="n in names">{{n}}</li>
        </ul>
    </div>
</body>

</html>
