<!DOCTYPE html>
 
<html>

<head>
    <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
    <!--<script src= "https://code.angularjs.org/1.5.8/angular.min.js"></script>-->
</head>

<body>
    <div data-ng-app="" data-ng-init="people=[
        {name:'jani', country:'Norway'}
        ,{name:'Hege', country:'Sweden'}
        ,{name:'Kai', country:'Denmark'}
    ]">
        <ul>
            <li data-ng-repeat="x in people">Name: {{x.name}}, Country: {{x.country}}</li>
        </ul>
    </div>
</body>

</html>
