<!--

Directive
 - ng-click or data-ng-click: html dom click event

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP10/EX01/NG-CLICK</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<body>
    <div data-ng-app="myApp" data-ng-controller="myCtrl">
        <button data-ng-click="count = count + 1">Click Me!</button>

        <p>{{ count }}</p>
    </div>
    <script>
        var app = angular.module( 'myApp', [] );
        app.controller( 'myCtrl', function( $scope )
        {
            $scope.count = 0;
        });
    </script>
</body>
</html>