<!--

Directive
 - ng-click or data-ng-click: html dom click event
 - ng-hide or data-ng-hide: html dom hide

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP10/EX02/NG-CLICK AND NG-HIDE</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<body>
    <div data-ng-app="myApp" data-ng-controller="personCtrl">
        <button data-ng-click="toggle( )">Toggle</button>

        <p data-ng-hide="myVar">
            First Name: <input type="text" data-ng-model="firstName"><br>
            Last Name: <input type="text" data-ng-model="lastName"><br>
            <br>
            Full Name: {{ firstName + " " + lastName }}
        </p>
    </div>
    <script>
        var app = angular.module( 'myApp', [] );
        app.controller( 'personCtrl', function( $scope )
        {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.myVar = false;
            $scope.toggle = function()
            {
                $scope.myVar = !$scope.myVar;
            }
        });
    </script>
</body>
</html>