<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP12/EX02/FORMS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="formController">
        <form novalidate>
            First Name:<br>
            <input type="text" data-ng-model="user.firstName"><br>
            Last Name:<br>
            <input type="text" data-ng-model="user.lastName">
            <br><br>
            <button data-ng-click="reset( )">RESET</button>
        </form>
        <p>form = {{ user }}</p>
        <p>master = {{ master }}</p>
    </div>
    <script>
        var app = angular.module( "myApp", [] );
        app.controller( "formController", function( $scope )
        {
            $scope.master = { firstName: "John", lastName: "Doe" };
            $scope.reset = function( )
            {
                $scope.user = angular.copy( $scope.master );
            };
            $scope.reset();
        });
    </script>
</body>
</html>