<!DOCTYPE html>

<!--
- $http: 외부 또는 내부 웹 서버에서 데이터를 읽기 위한 서비스. XMLHttpRequest 객체임.
-- $http.get(url): 데이터를 읽어오는 함수
-->
<html> 
    <head>
        <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
        <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    </head>
    <body>
    <div data-ng-app="myApp" data-ng-controller="customerController">
        <ul>
            <li data-ng-repeat="x in names">
                {{ x.Name + ", " + x.Country }}
            </li>
        </ul>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('customerController', function($scope, $http){
            /*$http.get("http://www.w3schools.com/angular/customers.php").success(function(response){*/
            $http.get("data/customers.json").success(function(response){
              $scope.names = response.records;
           });
        });
    </script>
    </body>
</html>
