<h3>User</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Edit</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="user in users">
        <td>
            <button class="btn" data-ng-click="editUser(user.id)">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
        </td>
        <td>{{ user.fName }}</td>
        <td>{{ user.lName }}</td>
    </tr>
    </tbody>
</table>