<!DOCTYPE html>
<html ng-app="sportsStore">
<head>
    <meta charset="UTF-8">
    <title>SportsStore</title>
    <script src="../lib/angularjs-1/angular-1.5.5.js"></script>
    <link href="../lib/bootstrap-3.3.6/css/bootstrap.css" rel="stylesheet" />
    <link href="../lib/bootstrap-3.3.6/css/bootstrap-theme.css" rel="stylesheet" />

    <script>
        angular.module("sportsStore", ["customFilters"])
    </script>
    <script src="controllers/sportsStore.js"></script>
    <script src="filters/customFilters.js"></script>
    <script src="controllers/productListControllers.js"></script>
</head>
<body ng-controller="sportsStoreCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="panel panel-default row" data-ng-controller="productListCtrl">
        <div class="col-xs-3">
            <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
            <a ng-repeat="item in data.products | orderBy: 'category' | unique: 'category'" ng-click="selectCategory(item)"
                class="btn btn-block btn-default btn-lg" data-ng-class="getCategoryClass(item)">
            {{item}}
            </a>
        </div>
        <div class="col-xs-8">
            <div class="well" data-ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
                <h3>
                    <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">
                        {{item.price | currency}}
                    </span>
                </h3>
                <span class="lead">{{item.description}}</span>
            </div>
            <div class="pull-right btn-group">
                <a data-ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
                    data-ng-click="selectPage($index + 1)" class="btn btn-default" data-ng-class="getPageClass($index + 1)">
                    {{$index + 1}}
                </a>
            </div>
        </div>
    </div>
</body>
</html>