<!DOCTYPE html>

<!--
 - data-ng-controller: 제어기
-->
<html> 
    <head>
        <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
        <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    </head>
    <body>
    <div data-ng-app="myApp" data-ng-controller="personCtrl">
        First Name: <input type="text" data-ng-model="firstName"><br/>
        Last Name: <input type="text" data-ng-model="lastName"><br/>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function($scope){
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });
    </script>
    </body>
</html>
