<!DOCTYPE html>
<!--
App과 Controller는 외부 파일에 선언하고 사용할 수 있음
-->
<html>

    <head>
        <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
        <!--<script src= "https://code.angularjs.org/1.5.8/angular.min.js"></script>-->
    </head>

    <body>
    <script src="./script/personController.js"></script>

    <div data-ng-app="myApp" data-ng-controller="personController">
        First Name: <input type="text" data-ng-model="firstName"><br/>
        Last Name: <input type="text" data-ng-model="lastName"><br/>
        Full Name: {{fullName()}}
    </div>
    </body>

</html>
