<!--

validation - Property
- $dirty: The filed has interacted with the field.
- $valid: The field content is valid.
- $invalid: The field content is invalid.
- $pristine: User has not interacted with the field yet.

※ novalidate: html5에서, 기본 브라우저의 validation 을 적용하지 않을 때 사용

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP13/EX01/VALIDATION</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <H2>Validation Example</H2>
    <form data-ng-app="myApp" data-ng-controller="validateCtrl" name="myForm" novalidate>
        <p>
            Username: <br>
            <input type="text" name="user" data-ng-model="user" required>
            <span style="color:red" data-ng-show="myForm.user.$dirty && myForm.user.$invalid">
                <span data-ng-show="myForm.user.$error.required">
                    Username is required.
                </span>
            </span>
        </p>

        <p>
            Email:<br>
            <input type="email" name="email" data-ng-model="email" required>
            <span style="color:red" data-ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span data-ng-show="myForm.email.$error.required">
                    Email is required.
                </span>
                <span data-ng-show="myForm.email.$error.email">
                    Invalid email address.
                </span>
            </span>
        </p>

        <p>
            <input type="submit"
                   data-ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
                                     myForm.email.$dirty && myForm.email.$invalid"
            >
        </p>
    </form>
    <script>
        var app = angular.module( "myApp", [] );
        app.controller( "validateCtrl", function( $scope )
        {
            $scope.user = 'John Doe';
            $scope.email = 'John.doe@mail.com'
        });
    </script>
</body>
</html>