<!--

AngularJS API
- AngularJS Global API. global 자바스크립비트 함수 집합임. 아래와 같은 작업 수행함.
-- 객체 비교
-- 객체 열거
-- 데이터 변환
- API 종류
-- angular.lowercase(): Converts a string to lowercase
-- angular.uppercase(): Converts a string to uppercase
-- angular.isString(): Returns true if the reference is a string
-- angular.isNumer(): Returns true if reference is a number
-- 기타 등등

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP13/EX02/ANGULARJS API</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="myCtrl">
        <h1>lowercase</h1>
        <p>{{ x1 }}</p>
        <p>{{ x2 }}</p>

        <br>

        <h1>uppercase</h1>
        <p>{{ x1 }}</p>
        <p>{{ x3 }}</p>

        <br>

        <h1>isString</h1>
        <p>is '{{ c1 }}' a string? {{ bString1 }}</p>
        <p>is '{{ c2 }}' a string? {{ bString2 }}</p>

        <br>

        <h1>isNumber</h1>
        <p>is '{{ c1 }}' a number? {{ bNumber1 }}</p>
        <p>is '{{ c2 }}' a number? {{ bNumber2 }}</p>
    </div>
    <script>
        var app = angular.module( "myApp", [] );
        app.controller( "myCtrl", function( $scope )
        {
            $scope.x1 = "John"

            $scope.x2 = angular.lowercase( $scope.x1 );
            $scope.x3 = angular.uppercase( $scope.x1 );


            $scope.c1 = 'string';
            $scope.c2 = 15;

            $scope.bString1 = angular.isString( $scope.c1 );
            $scope.bString2 = angular.isString( $scope.c2 );
            $scope.bNumber1 = angular.isNumber( $scope.c1 );
            $scope.bNumber2 = angular.isNumber( $scope.c2 );
        });
    </script>
</body>
</html>