<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    </head>

    <body data-ng-app="myNoteApp" data-ng-controller="myNoteCtrl">

    <h2>My Note</h2>

    <textarea data-ng-model="message" cols="40" rows="10"></textarea>

    <p>
        <button data-ng-click="save( )">Save</button>
        <button data-ng-click="clear( )">Clear</button>
    </p>

    <p>Number of characters left: <span data-ng-bind="left( )"></span></p>

    <script src="script/myNoteApp.js"></script>
    <script src="script/myNoteCtrl.js"></script>

    </body>
</html>