<!DOCTYPE html>

<!--
 - filter: 데이터 변형에 사용함. | 를 이용해 필터 사용
 - filter ex) uppercase
-->
<html> 
    <head>
        <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
        <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    </head>
    <body>
    <div data-ng-app="myApp" data-ng-controller="personController">
        First Name: <input type="text" data-ng-model="firstName"><br/>
        Last Name: <input type="text" data-ng-model="lastName"><br/>
        <br>
        Full Name: {{firstName | uppercase}} {{lastName | uppercase}}
    </div>
    <script src="script/personController.js"></script>
    </body>
</html>
