<!DOCTYPE html>

<!--
 - filter: 데이터 변형에 사용함. | 를 이용해 필터 사용
 - filter ex) currency
-->
<html> 
    <head>
        <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
        <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    </head>
    <body>
    <div data-ng-app="myApp" data-ng-controller="costController">
        First Name: <input type="number" data-ng-model="quantity"><br/>
        Last Name: <input type="number" data-ng-model="price"><br/>

        <p>total = {{ (quantity * price) | currency }} </p>
    </div>
    <script src="script/costController.js"></script>
    </body>
</html>
