<!DOCTYPE html>

<!--
 - filter: 데이터 변형에 사용함. | 를 이용해 필터 사용
 - filter ex) custom filter
-->
<html> 
    <head>
        <script src="../../pro_angularJS/lib/angularjs-1/angular-1.5.5.js"></script>
        <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    </head>
    <body>
    <div data-ng-app="myApp" data-ng-controller="namesCtrl">
        <p>Filtering input:</p>
        <p><input type="text" data-ng-model="test"></p>
        <ul>
            <li data-ng-repeat="x in names | filter:test | orderBy:'country'">
                {{ (x.name | uppercase) + ", " + x.country}}
            </li>
        </ul>
    </div>
    <script src="script/namesController.js"></script>
    </body>
</html>
