<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>TO Do List</title>
    <Link href="../lib/bootstrap-3.3.6/css/bootstrap.css" rel="stylesheet" />
    <Link href="../lib/bootstrap-3.3.6/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../lib/angularjs-1/angular-1.5.5.js"></script>
    <script>
        var model = {
            user: "Adam",
            items: [
                {action: "Buy FLowers", done: false},
                {action: "Get Shoes", done: false},
                {action: "Collect Tickets", done: true},
                {action: "Call Joe", done: false}
            ]
        }

        var todoApp = angular.module("todoApp",[]);

        todoApp.controller("ToDoCtrl", function($scope){
            $scope.todo = model;

            $scope.incompleteCount = function (){
                var count = 0;
                angular.forEach($scope.todo.items, function(item){
                    if(!item.done){count++}
                });
                return count;
            }

            $scope.warningLevel = function(){
                return $scope.incompleteCount() <= ($scope.todo.items.length / 2) ? "label-success" : "label-warning";
            }

            $scope.addNewItem = function(actionText){
                $scope.todo.items.push({action: actionText, done: false})
            }
        });


    </script>
</head>
<body ng-controller="ToDoCtrl">
    <div class="page-header">
        <h1>
            {{todo.user}}'s To Do List
            <span class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() == 0">{{incompleteCount()}}</span>
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="actionText" />
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todo.items">
                    <td>{{item.action}}</td>
                    <td><input type="checkbox" ng-model="item.done" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>