<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHP14/EX01/BOOTSTRAP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body data-ng-app="myApp" data-ng-controller="userCtrl">
    <div class="container">
        <h3>Users</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users">
                    <td>
                        <button class="btn" data-ng-click="editUser(user.id)">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                    </td>
                    <td>{{ user.fName }}</td>
                    <td>{{ user.lName }}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <button class="btn btn-success" data-ng-click="editUser('new')">
            <span class="glyphicon glyphicon-user"></span> Create New User
        </button>

        <hr>
        <h3 data-ng-show="edit">Create New User:</h3>
        <h3 data-ng-hide="edit">Edit User: </h3>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" data-ng-model="fName" data-ng-disabled="!edit" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" data-ng-model="lName" data-ng-disabled="!edit" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Repeat:</label>
                <div class="col-sm-10">
                    <input type="password" data-ng-model="passw1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Repeat:</label>
                <div class="col-sm-10">
                    <input type="password" data-ng-model="passw2" placeholder="Repeat Password">
                </div>
            </div>
        </form>

        <hr>
        <button class="btn btn-success" data-ng-disabled="error || incomplete" data-ng-click="addUser()">
            <span class="glyphicon glyphicon-save"></span> Save Changes
        </button>
    </div>
    <script src="script/myUsers.js"></script>

</body>
</html>