<!--
angularJS 첫 예제.

AngularJS: ng-directives를 활용할 수 있게 HTML을 확장한 형식임(Extends HTML)
directive 종류
- ng-app: AngularJS 어플리케이션을 정의함
- ng-model: 어플리케이션 데이터를 제어(input, select, textarea 등)하는 HTML Tag에 값을 연결함
- ng-bind: 어플리케이션 데이터를 보여주는(뷰. p, div, td 등 데이터를 넣을 수 있는 모든 곳) HTML Tag에 값을 연결함
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>angularjs</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" ></script>
</head>
<body>
    <div ng-app="">
        <p>Name: <input type="text" ng-model="name"></p>
        <p ng-bind="name"></p>
    </div>
</body>
</html>