<!--
angularJS 세번 째 예제.

AngujarJS Expressions
- 이중 괄호 안에 식을 작성함
-- ex) {{expression}}
- expression(식)은 값이 될수도, 수식이 될 수도 있음
-- {{5 + 5}} 또는 {{userName}}

-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>angularjs</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" ></script>
</head>
<body>
    <div data-ng-app="">
        <p>My first expression( 5 + 5 ): {{ 5 + 5 }}</p>
    </div>
</body>
</html>