<!--
angularJS 네 째 예제.

directive 종류
- (data-)ng-controller: AngularJS App을 제어함
-- MVC에서 컨트롤러 담당

어플리케이션 정의 및 객체 생성
- angular.module: AngularJS 어플리케이션을 정의 및 접근 가능한 객체 생성함

-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>angularjs</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" ></script>
</head>
<body>
    <p>Try to change the names.</p>
     
    <div data-ng-app="myApp" data-ng-controller="myCtrl">     
        First Name: <input type="text" data-ng-model="firstName"><br>
        Last Name: <input type="text" data-ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.firstName= "John";
            $scope.lastName= "Doe";
        });
    </script>
</body>
</html>