<!DOCTYPE html>
<html ng-app>
<head>
    <title>First Test</title>
    <script src="../lib/angularjs-1/angular-1.5.5.js"></script>
    <link href="../lib/bootstrap-3.3.6/css/bootstrap.css" rel="stylesheet" />
    <link href="../lib/bootstrap-3.3.6/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="btn btn-default">{{"AngularJS"}}</div>
    <div class="btn btn-success">Bootstrap</div>
</body>